.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header>img{
    width: 100%;
    height: 300px;
    object-fit: fill;
    background-image: repeating-linear-gradient();
    background-position: center;
}




.description{
    margin: 2rem 0 0;
    display: flex;
    flex: 4;
    margin: 1rem;
    font-size: 24px;
     text-align: start;
        align-items: flex-end;
      
}

.picture>img{
    flex: 1;
    object-fit: cover;
    width: 30rem;
    height: 20rem;
}

@media  screen and (max-width: 480px) {
    .description{
        flex-direction: column;
        font-size: 16px;
    }
        .picture>img{
            width: 100%;

        }
    
}